[build]
  command = "npm run build"
  publish = ".next"

[[plugins]]
  package = "@netlify/plugin-nextjs"

[[plugins]]
  package = "netlify-plugin-chromium"

[build.environment]
PLAYWRIGHT_BROWSERS_PATH = "node_modules/.cache/ms-playwright"
