[build]
  command = "npm run build"
  publish = ".next"

[[plugins]]
  package = "@netlify/plugin-nextjs"

[build.environment]
PLAYWRIGHT_BROWSERS_PATH = "node_modules/.cache/ms-playwright"

[functions]
  included_files = ["node_modules/.cache/ms-playwright/**"]
